body {
    padding: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    max-width: 90%;
    display: inline-flex;
}

table, th, td {
    min-width: 50px;
    padding: 5px;
}

.graph {
    width: 100%;
    max-width: 1000px;
}

.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is green */
}

.currentData {
    float: left;
    padding-left: 20px;
}

.relays {
    float: right;
    padding: 10px
}

.colour_box {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.cb0 {
    background: #af038e;
}

.cb1 {
    background: #1bb33f;
}

.cb2 {
    background: #1b51b3;
}

.cb3 {
    background: #b3ae1b;
}
